@font-face
{
    font-family: "Nexa Light";
    src: url(../../Fontsandimages/Fonts/Nexa\ Light.otf);
}

@font-face
{
    font-family: "Nexa Bold";
    src: url(../../Fontsandimages/Fonts/Nexa\ Bold.otf);
}

body
{
    font-size: 32px;
    font-family: "Nexa Light";
    background-color: #51b2a2;
    margin: 0;
    padding: 0;
    margin-left: 3%;
    color: #1e407a;
}

.content
{
    background-color: white;
}

a
{

    color: #1e407a;
    text-decoration: none;
}

/*Header design start*/

header
{
    display: grid;
    border-bottom: 10px solid #fecd3e;
    grid-template-columns: 4fr 5fr;
    padding-left: 3%;
}

header > #headerlogo
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header > #headerlogo > a
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#headerlogoimg
{
    width: 225px;
}

.button
{
    display: none;
}

#links
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-content: center;
    font-family: "Nexa Bold";
    font-size: 24px;
}

#links > li > a:hover
{
    text-decoration: underline;
}

#links > li > a:active
{
    color: #f15b39;
}

ul
{
    list-style-type: none;
}

#Orange
{
    color: #f15b39;
}

/*Header design end*/

/*main starts*/

main{
    margin: 5%;
}

h1{
    font-family: "Nexa Bold";
    font-size: 48px;
}

.gridbox{
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap : 20px;
    height: 100%;
}

.contacttext{
    grid-column: 1;
    grid-row: 1;
    border-color: #1e407a;
    border-width: 2px;
    border-style: solid;
    padding-left: 2%;
    padding-bottom: 0;
    
}

.addinform{
    grid-column: 2;
    grid-row: 1/3;
    border-color: #1e407a;
    border-width: 2px;
    border-style: solid;
}

.add-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    
}

.add-header{
    font-family: "Nexa Bold";
    font-size: 48px;
    grid-column: 1/3;
    grid-row: 1;
    padding-bottom: -10%;
    padding-left: 5%;
}

.img-left{
    width: 90%;
    height: 100%;;
    
}

.img-right{
    grid-column: 2;
    grid-row: 2;
    width: 90%;
    height: 100%;
    
}

.img-bottom-r{
    grid-column: 2;
    grid-row: 3;
    width: 90%;
    height: 100%;
}

.img-bottom-l{
    grid-column: 1;
    grid-row: 3;
    width: 90%;
    height: 100%;
}

.addinform img{
    margin-top: -10%;
    padding-left: 5%;
}

.form{
    grid-column: 1 / 2;
    grid-row: 2/4;
    border-color: #1e407a;
    border-width: 2px;
    border-style: solid;
    padding-left: 2%;
}

.fname{
    color: #1e407a;
    border-color: #1e407a;
    border-width: 1.5px;
    height: 2rem;
}

.lastname{
    color: #51b2a2;
    border-color: #51b2a2;
    border-width: 1.5px;
    height: 2rem;
}

.email{
    color: #E990B9;
    border-color: #E990B9;
    border-width: 1.5px;
    height: 2rem;
}

 .subj{
    color: #F15B39;
    border-color:#F15B39;
    border-width: 1.5px;
    height: 2rem;
} 

 .ordnum{
    color: #fecd3e;
    border-color: #fecd3e;
    border-width: 1.5px;
    height: 2rem;
} 

.commtext{
    color: #1e407a;
    border-color: #1e407a;
    border-width: 1.5px;
    height: 12rem;
    margin-top: -1rem;
    resize: none;
    width:50rem;
    font-size: 32px;
}
    
form label, form input {
  display: block;   
}

label{
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

input[type=text], select
{
    font-size: 32px;
    width:50rem;
}

input,
textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 0.9rem;
  display: block;
  margin-bottom: 10px;
}

.submitbutton {
  display: grid;
  grid-template-columns: auto 1fr; 
  align-items: center;             
  gap: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.submitbtn {
  width: 10rem;
  height: 3rem;
  background-color: #ffb703; 
  color: #1e407a; 
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 8px; 
}

.success {
  color: green;
  font-weight: bold;
  font-size: 0.9rem;
}

#forofor {
    color: rebeccapurple; /*For the love of the game*/
    text-decoration: underline;
}

/*Footer design start*/
footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 3%;
    font-size: 24px;
    font-family: "Nexa Bold";
    border-top: 10px solid #fecd3e;
}

footer > div > p
{
    text-align: center;
    align-content: center;
}

.footerleftalign
{
    width: 250px;
}

.footerleftalign > p
{
    margin: 0;
    text-align: left;
}

.icons
{
    display: flex;
    align-items: center;
    gap: 10px;
}

footer > .icons > div > a > img
{
    width: 50px;
}