/*Main body alignment and fonts start*/

@font-face
{
    font-family: "Nexa Light";
    src: url(../../Fontsandimages/Fonts/Nexa\ Light.otf);
}

@font-face
{
    font-family: "Nexa Bold";
    src: url(../../Fontsandimages/Fonts/Nexa\ Bold.otf);
}

body
{
    font-size: 32px;
    font-family: "Nexa Light";
    background-color: #51b2a2;
    margin: 0;
    padding: 0;
    margin-left: 3%;
    color: #1e407a;
}

.content
{
    background-color: white;
}

a
{
    color: #1e407a;
    text-decoration: none;
}

/*Main body alignment and fonts end*/

/*Header design start*/

header
{
    display: grid;
    border-bottom: 10px solid #fecd3e;
    grid-template-columns: 4fr 5fr;
    padding-left: 3%;
}

header > #headerlogo
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header > #headerlogo > a
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#headerlogoimg
{
    width: 225px;
}

#links
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-content: center;
    font-family: "Nexa Bold";
    font-size: 24px;
}

#links > li > a:hover
{
    text-decoration: underline;
}

#links > li > a:active
{
    color: #f15b39;
}

ul
{
    list-style-type: none;
}

#Orange
{
    color: #f15b39;
}

/*Header design end*/

/*Main design start*/

/*Left side design start*/

main
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
    margin: 10px;
    padding: 20px;
}

h3
{
    font-family: 'Nexa Bold';
    font-size: 48px;
}

.leftside p
{
    align-items: center;
    font-size: 32px;
}

.organizations
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    margin-top: 5%; 
}

.organizations img
{
    width: 120px;
}

/*Right side design (image+charities)*/

.handsearth
{
    width: 100%;
    align-items: center;
}

.charities p
{
    align-items: right;
    font-size: 32px;
    margin-bottom: 0;
}

.charities ul
{
    list-style: none;
    padding-left: 0;
    font-size: 32px;
    margin-top: 0;
}

/* Don't change this!*/

main
{
    margin: 5%;
}

/* Don't change this!*/

/*Main design end*/

/*Footer design start*/

footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 24px;
    font-family: "Nexa Bold";
    border-top: 8px solid #fecd3e;
}

footer > div
{
    display: flex;
    align-items: center;
}

.footerleftalign
{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footerleftalign > p
{
    margin: 0;
}

.icons
{
    display: flex;
    flex-direction: column;
    gap: 3%;
    margin-block: auto;
}

.icons > p
{
    margin: 0;
}

.icon-row
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 120px;
}

.icons > div > a > img
{
    width: 45px;
}

.footerrightalign
{
    display: flex;
    margin-left: auto;
}

/*Footer design end*/