/*Main body alignment and fonts start*/

@font-face
{
    font-family: "Nexa Light";
    src: url(../../Fontsandimages/Fonts/Nexa\ Light.otf);
    font-family: "Nexa Bold";
    src: url(../../Fontsandimages/Fonts/Nexa\ Bold.otf);
}

body
{
    font-size: 32px;
    font-family: "Nexa Light";
    background-color: #51b2a2;
    margin: 0;
    padding: 0;
    margin-left: 3%;
    color: #1e407a;
}

.content
{
    background-color: white;
}

a
{
    color: #1e407a;
    text-decoration: none;
}

/*Main body alignment and fonts end*/

/*Header design start*/

header
{
    display: grid;
    border-bottom: 10px solid #fecd3e;
    grid-template-columns: 4fr 5fr;
    padding-left: 3%;
}

header > #headerlogo > a
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#headerlogoimg
{
    width: 226px;
}

header > #links
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-content: center;
    font-family: "Nexa Bold";
    font-size: 24px;
}

/*Header design end*/



/*Body design start*/

#pride-bg
{
    background-image: url(../../Fontsandimages/background.png);
    background-size: 97%;
}

#mainFlex
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#flexText
{
    margin-left: 20px;
}

#flexMainTitle
{
    font-family: "Nexa Bold";
    font-size: 64px;
    margin-bottom: 0;
}

#flexSubtitle
{
    font-family: "Nexa Bold";
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
}

#flexSmallText1
{
    margin-bottom: 0;
}

#flexSmallText2
{
    margin-top: 0;
    margin-bottom: 0;
}

#flexImg > img
{
    width: 50%;
}


/*Body design end*/



/*Footer design start*/

footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 3%;
    font-size: 24px;
    font-family: "Nexa Bold";
    border-top: 10px solid #fecd3e;
}

footer > div > p
{
    text-align: center;
    align-content: center;
}

.footerleftalign
{
    width: 250px;
}

.footerleftalign > p
{
    margin: 0;
    text-align: left;
}

.icons
{
    display: flex;
    align-items: center;
    gap: 10px;
}

footer > .icons > div > a > img
{
    width: 50px;
}

/*Footer design end*/