/*Main body alignment and fonts start*/

@font-face
{
    font-family: "Nexa Light";
    src: url(../../../Fontsandimages/Fonts/Nexa\ Light.otf);
}

@font-face
{
    font-family: "Nexa Bold";
    src: url(../../../Fontsandimages/Fonts/Nexa\ Bold.otf);
}

body
{
    font-size: 32px;
    font-family: "Nexa Bold";
    background-color: #51b2a2;
    margin: 0;
    padding: 0;
    margin-left: 3%;
    color: #1e407a;
    width: 97%;
}

.content
{
    background-color: white;
}

a
{
    color: #1e407a;
    text-decoration: none;
}

/*Main body alignment and fonts end*/

/*Header design start*/

header
{
    display: grid;
    border-bottom: 10px solid #fecd3e;
    grid-template-columns: 4fr 5fr;
    padding-left: 3%;
}

header > #headerlogo
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header > #headerlogo 
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#headerlogoimg
{
    width: 225px;
}

button
{
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.dropdown
{
    margin-top: 5px;
    position: relative;
}

#links
{
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
    position: absolute;
    background-color: #fecd3e;
    min-width: 200px;
}

#links > li
{
    display: block;
    font-family: "Nexa Bold";
}

#links > li > a:active
{
    text-decoration: underline;
    color: #f15b39;
}

ul
{
    list-style-type: none;
}

/*Header design end*/

/*Main design start*/

/* Don't change this!*/
main
{
    margin: 5%;
}
/* Don't change this!*/

h1
{
    font-size: 48px;
}

.middle > h1
{
    text-align: center;
}

.middle > div > img
{
    display: block;
    margin: auto;
    width: 50%;
}

/*Main design end*/

/*Footer design start*/

footer
{
    padding-left: 3%;
    padding-right: 3%;
    font-size: 24px;
    font-family: "Nexa Bold";
    border-top: 10px solid #fecd3e;
}

footer > div
{
    display: flex;
    align-items: center;
}

.footerleftalign
{
    display: flex;
    text-align: center;
}

.footerleftalign > p
{
    margin-inline: auto;
}

.icons 
{
    margin-block: 5%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.icon-row 
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 120px;
}

.icons > div > a > img
{
    width: 50px;
}

.footerrightalign > p
{
    margin-inline: auto;
    display: flex;
    text-align: center;
}

/*Footer design end*/