.forminator-ui#forminator-module-1855.forminator-design--default .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] {
    border-color: #777771;
    background-color: unset !important;
}
.forminator-ui#forminator-module-1855.forminator-design--default .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"]:focus {
    outline: 1px solid #000000 !important;
    outline-offset: 0px !important;
}
.forminator-select-dropdown-container--open .forminator-custom-form-1855.forminator-dropdown--default .select2-results .select2-results__options .select2-results__option.select2-results__option--selected, .forminator-select-dropdown-container--open .forminator-custom-form-1855.forminator-dropdown--default .select2-results .select2-results__options .select2-results__option.select2-results__option--selected span:not(.forminator-checkbox-box) {
    background-color: #179DC2 ! IMPORTANT;
    color: #FFFFFF;
}

.forminator-select-dropdown-container--open .forminator-custom-form-1855.forminator-dropdown--default .select2-results .select2-results__options .select2-results__option.select2-results__option--highlighted {
    outline: unset !important;
    outline-offset: 0 !important;
}
.forminator-select-dropdown-container--open .forminator-custom-form-1855.forminator-dropdown--default {
    border-color: #000000;
    background-color: #fff;
}
.forminator-select-dropdown-container--open .forminator-custom-form-1855.forminator-dropdown--default {
    border-color: #000000 !important;
    background-color: #fff !important;
}
button.forminator-button.forminator-button-submit {
    background-color: #07445C;
    /* padding: 10px 64px; */
}
.forminator-ui.forminator-custom-form[data-design=default] .forminator-button:active, .forminator-ui.forminator-custom-form[data-design=default] .forminator-button:focus, .forminator-ui.forminator-custom-form[data-design=default] .forminator-button:hover {
    
    box-shadow: unset !important;
    color: white;
}