.dark-mode {
  background-color: #285a53;
  color: #ffffff;
}
.dark-mode a {
  color: white;
}

.dark-mode main {
  background-image: none;
}

.dark-mode .content {
  background-color: #0f203d;
}

.dark-mode .content #orange {
  color: #8b220a;
}

#pride-bg {
  background-image: none;
}


/* Toggle button positioning */
.theme-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  z-index: 1000;
}