<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="confirmation.css">
</head>
<body>
    <div class="content">
        <!-- Only change things in the header if you are going to add in more content to the top but than add it in to the css as well-->
        <header>
            <div id="headerlogo"><img id="headerlogoimg" src="../../Fontsandimages/Logos/png/sunny_logos_orange.png" alt="Logos Orange"></div>
            <div id="links">
                <div><a href="">Products</a></div>
                <div><a href="">Sustainability</a></div>
                <div><a href="">Contact</a></div>
                <div><a href="">About us</a></div>
            </div>
        </header>

        <!-- You can add in anything here and to the css part as well-->
        <main>
            <div>
                <img id="mainlogo" src="../../Fontsandimages/Logos/png/sunny_logos_slogan_yellow.png" alt="Logo">
                <p>At Sunny Socks, our purpose is to create comfortable socks to warm people worldwide.
                   Big or small, old or young - <b>there is something for everyone.</b>
                   Our <b>new winter collection</b> aims to warm not just your feet, but your heart as well.
                   Made from <b>ethically sourced </b>cotton, it provides support for your feet during the coldest of days.
                </p>
            </div>

            <div>
                <img id="maincatalogus" src="../../Fontsandimages/catalogus/Sunny_socks_yellow" alt="yellow socks">
                <p>
                    We strongly believe that love is love. Sunny Socks supports love in every way, shape or form.
                    <b>The Pride Collection </b>demonstrates <b>unity</b> and <b>acceptance.</b> Our goal is to represent all of our customers,
                     and make everybody feel welcome in the Sunny community!
                </p>
                <p>Click here to learn more about our</p>
                <a href="../Pride/Pride.html"><b>Pride Initiative.</b></a>
            </div>
        </main>

        <!--Don't change things here-->
        <footer>
            <div class="footerleftalign">
                <p>7811 AP, Raadhuisplein 1, Emmen, Nederland</p>
            </div>
            <div class="icons">
                <p>Follow us:</p>
                <div>
                <a href="https://www.facebook.com/"><img src="../../Fontsandimages/Social/Facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/"><img src="../../Fontsandimages/Social/Instagram.png" alt="Instagram"></a>
                <a href="https://www.linkedin.com/"><img src="../../Fontsandimages/Social/linkedin.png" alt="Linkedin"></a>
                <a href="https://x.com/"><img src="../../Fontsandimages/Social/Twitter.png" alt="Twitter"></a>
                </div> 
            </div>
            <div>
                <p>&#169;2025 Sunny Socks</p>
            </div>
        </footer>
    </div>
</body>
</html>

