/*Main body alignment and fonts start*/

@font-face
{
    font-family: "Nexa Light";
    src: url(../../Fontsandimages/Fonts/Nexa\ Light.otf);
}

@font-face
{
    font-family: "Nexa Bold";
    src: url(../../Fontsandimages/Fonts/Nexa\ Bold.otf);
}

body
{
    font-size: 32px;
    font-family: "Nexa Light";
    background-color: #51b2a2;
    margin: 0;
    padding: 0;
    margin-left: 3%;
    color: #1e407a;
}

.content
{
    background-color: white;
}

a
{

    color: #1e407a;
    text-decoration: none;
}

/*Main body alignment and fonts end*/

/*Header design start*/

header
{
    display: grid;
    border-bottom: 10px solid #fecd3e;
    grid-template-columns: 4fr 5fr;
    padding-left: 3%;
}

header > #headerlogo
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#headerlogoimg
{
    width: 226px;
}

header > #links
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-content: center;
    font-family: "Nexa Bold";
    font-size: 24px;
}

/*Header design end*/

/*Main design start*/

main
{
    margin: 5%;
}

#mainlogo
{
    width: 335px;
}

.gridbox
{
    gap: 1%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

b
{
    font-family: "Nexa Bold";
    font-weight: bolder;
}

.pride
{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2;
    grid-column: 1;
}

.promoimage
{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    grid-column: 2;
}

#maincatalogus
{
    width: 500px;
}

.secoundtext
{
    grid-row: 2;
    grid-column: 2;
}

.secoundtext > p > a
{
    color: #f15b39;
}

/*Main design end*/

/*Footer design start*/

footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 3%;
    font-size: 24px;
    font-family: "Nexa Bold";
    border-top: 10px solid #fecd3e;
}

footer > div > p
{
    text-align: center;
    align-content: center;
}

.footerleftalign
{
    width: 250px;
}

.footerleftalign > p
{
    margin: 0;
    text-align: left;
}

.icons
{
    display: flex;
    align-items: center;
    gap: 10px;
}

footer > .icons > div > a > img
{
    width: 50px;
}

/*Footer design end*/